@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var addressList = ViewBag.AddressList as List<MemberAddress>;
}
@section Styles{
    @Styles.Render("~/css/web/reg")
    @Styles.Render("~/css/web/forget")
}
<form id="ForgetForm" role="form" action="@Url.Action("ResetPasswordOnpost","WebMember",new {area=MemberCenterModule.Area})">
    <div class="forget_box">
        <div class="forget_center">
            <input type="hidden" id="smscode" />
            <h3 class="forget_mima font_s18 color_666 bg_pink">找回密码</h3>
            <input type="hidden" id="PhoneNumber" name="PhoneNumber"/>
            <!--模块引入-->
            <div class="forget_step">
                <div class="passwordOne" style="display:block">
                    <img class="forget_jindu" src="Resources/img/forget_jindu.jpg" />
                    <div class="input_list forget_list">
                        <div class="reg_list clearfix">
                            <div class="btn btn_p fl"></div>
                            <input type="text" class="userIphone fl" name="PhoneNumberOne" id="PhoneNumberOne" placeholder="请输入用户名/手机号码" value="" />
                        </div>

                        <div class="reg_list clearfix">
                            <div class="btn btn_y fl"></div>
                            <input type="text" class="pic_yan with_140 fl" name="ImageVerifyCode" id="ImageVerifyCode" placeholder="右侧图形验证码" />
                            <div class="yanzhang_pic with_98 fl">
                                <img id="sendimg" src="" onclick="SetCaptcha();">
                                <input type="hidden" name="ImageVerifyKey" id="ImageVerifyKey" />
                            </div>
                        </div>

                        <p class="tishi color_orange font_s14">验证码错误</p>
                        <div class="next_bu forget_first bg_orange font_s18">下一步</div>
                    </div>
                </div>
                <div class="passwordTwo" style="display:none">
                    <img class="forget_jindu" src="Resources/img/forget_jindu2.jpg" />
                    <div class="input_list forget_list">
                        <div class="reg_list clearfix">
                            <div class="btn btn_p fl"></div>
                            <input type="text" class="userIphone fl" name="PhoneNumber1" disabled="disabled" id="PhoneNumber1" placeholder="" value="" />
                        </div>
                        <div class="reg_list clearfix">
                            <div class="btn btn_y1 fl"></div>
                            <input type="text" class="yan with_140 fl" name="SmsVerifyCode" id="SmsVerifyCode" placeholder="请输入验证码" />
                            <input type="button" class="code-btn reg_yan" id="sendbtn" value="获取验证码" />
                        </div>
                        <p class="tishi color_orange font_s14">验证码错误</p>
                        <div class="next_bu forget_two bg_orange font_s18">下一步</div>
                    </div>
                </div>
                <div class="passwordThree" style="display:none">
                    <img class="forget_jindu" src="Resources/img/forget_jindu3.jpg" />
                    <div class="input_list forget_list">
                        <div class="reg_list clearfix">
                            <div class="btn btn_m fl"></div>
                            <input type="password" class="password fl" name="Password" id="Password" placeholder="新密码" value="" />
                        </div>
                        <div class="reg_list clearfix">
                            <div class="btn btn_m fl"></div>
                            <input type="password" class="again_password fl" name="" placeholder="请确认密码" id="secondPassword" value="" />
                        </div>
                        <p class="tishi color_orange font_s14">验证码错误</p>
                        <div class="next_bu forget_three bg_orange font_s18">下一步</div>
                    </div>
                </div>
                <div class="passwordFour" style="display:none">
                    <img class="forget_jindu" src="Resources/img/forget_jindu3.jpg" />
                    <img class="forget_suc" src="Resources/img/forget_suc.png" />
                    <p class="font_s18">您的登录密码已经重新设置，请妥善保管</p>
                    <a href="@Url.Action("WebLogin", "WebMember", new { area = MemberCenterModule.Area })" class="forget_deng font_s18 bg_orange color_fff">立即登录</a>
                </div>
            </div>

        </div>
    </div>
</form>
@section Scripts{
    @Scripts.Render("~/js/web/forget")
    <script type="text/javascript">
        //手机是否存在
        var url_phoneIsExist = "@Url.Action("PhoneIsExist", "WebMember", new { area = MemberCenterModule.Area })";
        //图形验证码验证
        var url_imageVerify = "@Url.Action("ImageVerify", "WebMember", new { area = MemberCenterModule.Area })";
        //删除收货地址
        var url_deleteaddress = "@Url.Action("WebDeleteAddress", "WebMemberAddress", new { area = MemberCenterModule.Area })";
        //编辑收货地址
        var url_editaddress = "@Url.Action("WebEditAddress", "WebMemberAddress", new { area = MemberCenterModule.Area })";
        //设置默认收货地址
        var url_defaultaddress = "@Url.Action("SetDefaultAddress", "WebMemberAddress", new { area = MemberCenterModule.Area })";
        //登录页面
        var url_longin= "@Url.Action("WebLogin", "WebMember", new { area = MemberCenterModule.Area })";
    </script>

}



























