

@using System.Web.Optimization
@using BntWeb.FileSystems.Media

@{
    Layout = "~/Views/Shared/_PersonalLayout.cshtml";
    ViewBag.SubTitle = "修改密码";
  
}
@section Styles{
    @Styles.Render("~/css/web/personal")

}
<form role="form" method="post" id="ChangeForm" action="@Url.Action("PasswordChangeOnPost","WebMember",new {area=MemberCenterModule.Area})">


    <div class="per_nav_right fr font_s14 color_666 per_nav_right2" id="sOne">
        <div class="per_right_title color_444">
            <h3 class="font_s18">修改密码</h3>
        </div>
        <div class="per_right_bottom per_right_password">
            <div class="tab tab_iphone clearfix">
                <span class="per_word2 ">原密码：</span>
                <input type="password" class="yanzheng old_password" name="Password" id="Password" value="" />
            </div>
            <div class="tab tab_iphone clearfix">
                <span class="per_word2 ">新密码：</span>
                <input type="password" class="yanzheng new_password" name="NewPassword" id="NewPassword" value="" />
            </div>
            <div class="tab tab_iphone clearfix">
                <span class="per_word2 ">确认密码：</span>
                <input type="password" class="yanzheng again_password" name="NewPassword2" id="NewPassword2" value="" />
            </div>
            <p class="yan_cuo yan_cuo_1 color_red">验证码错误</p>
            <div class="next_bu font_s16 bg_orange">完成</div>
        </div>
    </div>
</form>
    @section Scripts{

        @Scripts.Render("~/js/web/wdatePicker")
        @Scripts.Render("~/js/web/uploadify")
        @Scripts.Render("~/js/web/newuploadify")
        @Scripts.Render("~/js/web/personal")

        <script type="text/javascript">
            //个人中心
            var url_personal = "@Url.Action("WebPersonal", "WebMember", new { area=MemberCenterModule.Area})";
            $(document).ready(function () {
                //完成
                $(".next_bu").on('click', function () {

                    //两次密码一不一致
                    if ($("#NewPassword").val() != $("#NewPassword2").val()) {
                        my_alert("两次密码输入不一致！");
                        return false;
                    }

                    $.ajax({
                        type: 'POST',
                        url: $("#ChangeForm").attr("action"),
                        cache: false,
                        data: $("#ChangeForm").serialize(),
                        success: function (data) {
                            if (data.Success) {
                                //成功后跳到登陆
                                location.href = url_personal;
                            } else {
                                my_alert(data.ErrorMessage);

                            }
                        }
                    });
                });

            });


        </script>
    }
